<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FromBindings from "./components/FromBindings.vue";
</script>

<template>
  <div>
    <FromBindings />
    <br />
    <br />
    <conditionAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <HandingUserInput />
    <CalComponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
